<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=chorme">
    <title>欢迎访问</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
</head>

<body>

<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="user_index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{{ url_for('user_bp.user_index') }}">首页</a></li>
                                            <li><a href="{{ url_for('user_bp.user_checkticket') }}">车票查询</a></li>
                                            <li><a href="{{ url_for('user_bp.user_inputbuyticket') }}">车票购买</a></li>
                                            <li><a href="{{ url_for('user_bp.user_checkrefundticket') }}">车票退订</a></li>
                                            <li><a href="{{ url_for('user_bp.user_3dshow') }}">3D模型展示</a></li>
<!--                                            <img src="{{ g.user.avatar_path }}" width="48" height="48" alt="">-->
                                            <li><a href="{{ url_for('user_bp.user_infomation') }}">
                                                {% if user_name %}
                                                    你好，{{ user_name }}
                                                {% else %}
                                                    你好，游客
                                                {% endif %}
                                            </a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-right-btn d-none d-lg-block ml-20">
                                    <a href="{{ url_for('user_bp.user_logout') }}" class="btn header-btn">
                                        {% if user_name %}
                                            登出
                                        {% else %}
                                            登陆
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<main>

    <!--? Categories Area Start -->
    <div class="categories-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <!--<span>Our Services</span>-->
                        <span>our servers</span>
                        <h2 style="font-weight:500;">我们提供的服务</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{{ url_for('user_bp.user_checkticket') }}">车票查询</a></h5>
                            <p>在这里您可以查询到您感兴趣的车次的信息</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-ship"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{{ url_for('user_bp.user_inputbuyticket') }}">车票购买</a></h5>
                            <p>不想排队？在这里，轻点手指，即可完成购票</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-plane"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{{ url_for('user_bp.user_checkrefundticket') }}">车票退订</a></h5>
                            <p>临时有事？没关系，我们提供便捷的退票服务</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{{ url_for('user_bp.user_3dshow') }}">和谐号3D</a></h5>
                            <p>在这里你将看到和谐号动车组的3D模型</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Area End -->

    <!-- our info Start -->
    <div class="our-info-area pt-70 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-support"></span>
                        </div>
                        <div class="info-caption">
                            <p>联系我们</p>
                            <span>+ (86) 400-820-8820</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="info-caption">
                            <p>夜间停售</p>
                            <span> 7.00 - 23.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-place"></span>
                        </div>
                        <div class="info-caption">
                            <p>郫都区</p>
                            <span>中国, 四川省 - 成都</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our info End -->

</main>

<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

    <!-- JS here -->

    <script src="static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="static/assets/js/popper.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="static/assets/js/owl.carousel.min.js"></script>
    <script src="static/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="static/assets/js/wow.min.js"></script>
    <script src="static/assets/js/animated.headline.js"></script>
    <script src="static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Nice-select, sticky -->
    <script src="static/assets/js/jquery.nice-select.min.js"></script>
    <script src="static/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="static/assets/js/contact.js"></script>
    <script src="static/assets/js/jquery.form.js"></script>
    <script src="static/assets/js/jquery.validate.min.js"></script>
    <script src="static/assets/js/mail-script.js"></script>
    <script src="static/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="static/assets/js/plugins.js"></script>
    <script src="static/assets/js/main.js"></script>
    
</body>
</html>