<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/login_style.css">
</head>
<body>
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="user_index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Header-btn -->
                                <div class="header-right-btn d-none d-lg-block ml-20">
                                    <br>
                                    <a href="{{ url_for('manager_bp.manager_auth') }}" class="btn header-btn">管理入口</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<div class="login">
    <h1>Regsiter</h1>
    <form action="" enctype="multipart/form-data" method="post">

        <input type="text" name="user" placeholder="用户名" required="required">
        <input type="password" name="password1" placeholder="输入密码" required="required">
        <input type="password" name="password2" placeholder="确认密码" required="required">
        <input list="browsers" name="browser" placeholder="您的身份" required="required">
            <datalist id="browsers">
                <option value='成人'>
                <option value='学生'>
            </datalist>
        <form action="demo-form.php" method="get">
            <!--<input type="submit">-->
            <button type="submit">注册</button>

            <div class="forgetPassword">
                 <br>
                <a style="font-weight:300;" href="{{ url_for('user_bp.user_change_password')}}">忘记密码</a>
            </div>
            <div class="regsterAccount">
            <br>
            <a style="font-weight:300;" href="{{ url_for('user_bp.user_login')}}">返回登陆</a>
        </div>

            <br>
            <div class="flash" style="font-weight:300; color:red; font-weight:500; font-size:3; text-align: center;">
                <br><br><br>
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
            </div>
        </form>
        <!--input type="password" name="password2" placeholder="确认密码" required="required">-->
        <!--<button type="submit">注册</button>-->
        <!--<div class="regsterAccount">
            <a href="user_register.html">注册账号</a>
        </div>
        <div class="forgetPassword">
            <a href="contact.html">忘记密码</a>
        </div>-->


    </form>

</div>


</body>
</html>