<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Transportation HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/check_ticket_style.css">
</head>

<body>

<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="user_index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{{ url_for('user_bp.user_index') }}">首页</a></li>
                                            <li><a href="{{ url_for('user_bp.user_checkticket') }}">车票查询</a></li>
                                            <li><a href="{{ url_for('user_bp.user_inputbuyticket') }}">车票购买</a></li>
                                            <li><a href="{{ url_for('user_bp.user_checkrefundticket') }}">车票退订</a></li>
                                            <li><a href="{{ url_for('user_bp.user_3dshow') }}">3D模型展示</a></li>
                                            <img src="{{ image_path + '?_t=' + vall}}" width="48" height="48"/>
                                            <li><a href="{{ url_for('user_bp.user_infomation') }}">你好，{{ user_name }}</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <div class="header-right-btn d-none d-lg-block ml-20">
                                    <a href="{{ url_for('user_bp.user_logout') }}" class="btn header-btn">登出</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<main>
    <!-- biaoti -->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
             data-background="static/assets/img/checkTicket/checkTicket1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap">
                            <h2>车票查询</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">主页</a></li>
                                    <li class="breadcrumb-item"><a href="#">车票查询</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- biaoti end-->

    <div class="whole-wrap">
        <div class="container box_1170">
            <div class="section-top-border">
                <div class="row">
                    <!--<div class="col-lg-8 col-md-8">
                    <h3 class="mb-30">please input information</h3>
                    <form action="#">
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                            <div class="form-select" id="default-select"
                            ">
                            <select>
                                <option value=" 1">始发站</option>
                                <option value="1">成都</option>
                                <option value="1">北京</option>
                                <option value="1">上海</option>
                                <option value="1">广州</option>
                            </select>
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                            <div class="form-select" id="default-select"
                            ">
                            <select>
                                <option value=" 1">终点站</option>
                                <option value="1">成都</option>
                                <option value="1">北京</option>
                                <option value="1">上海</option>
                                <option value="1">广州</option>
                            </select>
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                            <div class="form-select" id="default-select"
                            ">
                            <select>
                                <option value=" 1">座位类型</option>
                                <option value="1">一等座</option>
                                <option value="1">二等座</option>
                            </select>
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                            <div class="form-select" id="default-select"
                            ">
                            <select>
                                <option value=" 1">出发时间</option>
                                <option value="1">13:00</option>
                                <option value="1">14:00</option>
                                <option value="1">15:00</option>
                                <option value="1">16:00</option>
                            </select>
                        </div>
                    </form>
                </div>
                    </br>
                    <a href="" class="genric-btn link radius">查询</a>-->
                    <!--<div class="section-top-border">-->
                </div>
            </div>
                <h3 class="mb-30">All Tickets</h3>
                <div class="result-table-wrap">
                    <div class="result-table">
                        <table class="result-table">
                            <thead>
                            <tr>
                                <th>火车号</th>
                                <th>线路名</th>
                                <th>起点站</th>
                                <th>终点站</th>
                                <th>出发时间</th>
                                <th>到达时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ct in checktickets %}
                            <tr>
                                <th>{{ct.train_number_ID}}</th>
                                <th>{{ct.line_name}}</th>
                                <th>{{ct.departure_station}}</th>
                                <th>{{ct.arrival_station}}</th>
                                <th>{{ct.departure_time}}</th>
                                <th>{{ct.arrival_time}}</th>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
    <!-- our info Start -->
    <div class="our-info-area pt-70 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-support"></span>
                        </div>
                        <div class="info-caption">
                            <p>联系我们</p>
                            <span>+ (86) 400-820-8820</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="info-caption">
                            <p>夜间停售</p>
                            <span> 7.00 - 23.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-place"></span>
                        </div>
                        <div class="info-caption">
                            <p>郫都区</p>
                            <span>中国, 四川省 - 成都</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our info End -->


</main>

<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>


<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="static/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="static/assets/js/popper.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="static/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="static/assets/js/owl.carousel.min.js"></script>
<script src="static/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="static/assets/js/wow.min.js"></script>
<script src="static/assets/js/animated.headline.js"></script>
<script src="static/assets/js/jquery.magnific-popup.js"></script>

<!-- Nice-select, sticky -->
<script src="static/assets/js/jquery.nice-select.min.js"></script>
<script src="static/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="static/assets/js/contact.js"></script>
<script src="static/assets/js/jquery.form.js"></script>
<script src="static/assets/js/jquery.validate.min.js"></script>
<script src="static/assets/js/mail-script.js"></script>
<script src="static/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="static/assets/js/plugins.js"></script>
<script src="static/assets/js/main.js"></script>

</body>
</html>