<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>欢迎购买</title>
    <meta name="description" content="">

    <!-- CSS here -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/check_ticket_style.css">

    <link rel="stylesheet" href="static/css/searchableSelect.css" >
    <link rel="stylesheet" href="static/assets/css/flaticon.css">


</head>

<body>

<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="user_index.html"><img src="static/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <!-- Logo -->

                        <!-- Mobile Menu -->
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{{ url_for('user_bp.user_index') }}">首页</a></li>
                                            <li><a href="{{ url_for('user_bp.user_checkticket') }}">车票查询</a></li>
                                            <li><a href="{{ url_for('user_bp.user_inputbuyticket') }}">车票购买</a></li>
                                            <li><a href="{{ url_for('user_bp.user_checkrefundticket') }}">车票退订</a></li>
                                            <li><a href="{{ url_for('user_bp.user_3dshow') }}">3D模型展示</a></li>
                                            <img src="{{ image_path + '?_t=' + vall}}" width="48" height="48"/>
                                            <li><a href="{{ url_for('user_bp.user_infomation') }}">你好，{{ user_name }}</a></li>
                                            <li><a href="{{ url_for('user_bp.user_logout') }}" class="btn header-btn"
                                                   style="padding: 25px 35px; inline-size: max-content; display: flex;">登出</a></li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">

                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<main>
    <!-- biaoti -->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
             data-background="static/assets/img/checkTicket/checkTicket1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap">
                            <h2>车票购买</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">主页</a></li>
                                    <li class="breadcrumb-item"><a href="#">车票查询</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- biaoti end-->

    <section class="contact-form-area section-bg  pt-115 pb-120 fix">
    <div class="container">
        <div class="row justify-content-center">
                <!-- Contact wrapper -->
                <div class="col-xl-8 col-lg-9">
                    <div class="contact-form-wrapper">
                        <!-- From tittle -->
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Section Tittle -->
                                <div class="section-tittle mb-50">
                                    <h2>请输入购票信息</h2>
                                </div>
                            </div>
                        </div>
                        <!-- form -->

                        <form action="#" method="post" class="contact-form">
                            <div class="row ">
                                <div class="col-lg-12">
                                        <div class="select-items">
                                        <input type="text" name="departure_station" placeholder="起始站" required="required" {% if site_list %} list='site_list'
                                               οnfοcus='if(this.value=="终点站"){this.value="{{form_data["site_name"]}}";}; '
                                               οnblur='if(this.value==""){this.value="终点站";};'{% endif %}>
                                          {% if site_list %}
                                            <datalist>
                                              {% for item in site_list %}
                                                <option>{{ item.site_name }}</option>
                                              {% endfor %}
                                            </datalist>
                                          {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="select-items">
                                    <input type="text" name="arrival_station" placeholder="终点站" required="required" {% if site_list %} list='site_list'
                                           οnfοcus='if(this.value=="终点站"){this.value="{{form_data["site_name"]}}";}; '
                                           οnblur='if(this.value==""){this.value="终点站";};'{% endif %}>
                                      {% if site_list %}
                                        <datalist id='site_list'>
                                          {% for item in site_list %}
                                            <option>{{ item.site_name }}</option>
                                          {% endfor %}
                                        </datalist>
                                      {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                <div class="select-items">
                                <input class="nice-select" type="text" name="seat_type" list="seat_types" placeholder="座位类型">
                                <datalist id="seat_types" style="display:none;">
                                    <option value="一等座"></option>
                                    <option value="二等座"></option>
                                </datalist>
                                </div>
                                </div>
                                <div class="col-lg-12">
                                    <input type="time" value="07:00:01" name="departure_time" value="出发时间" required="required" class="select-items">
                                </div>


                                <!-- Button -->
                                <div class="col-lg-12">
                                    <button name="submit" type="submit" class="submit-btn" value="user_inputbuyticket">确认信息</button>
                                    {% for message in get_flashed_messages() %}
                                    <div class="flash">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
    </div>
    </section>

    <!-- our info Start -->
    <div class="our-info-area pt-70 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-support"></span>
                        </div>
                        <div class="info-caption">
                            <p>联系我们</p>
                            <span>+ (86) 400-820-8820</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="info-caption">
                            <p>夜间停售</p>
                            <span> 7.00 - 23.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-info mb-30">
                        <div class="info-icon">
                            <span class="flaticon-place"></span>
                        </div>
                        <div class="info-caption">
                            <p>郫都区</p>
                            <span>中国, 四川省 - 成都</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our info End -->

</main>


<!-- JS here -->
<script type="text/javascript" src="static/js/jquery.searchableSelect.js"></script>
<!-- All JS Custom Plugins Link Here here -->
<script src="static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="static/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="static/assets/js/popper.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="static/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="static/assets/js/owl.carousel.min.js"></script>
<script src="static/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="static/assets/js/wow.min.js"></script>
<script src="static/assets/js/animated.headline.js"></script>
<script src="static/assets/js/jquery.magnific-popup.js"></script>

<!-- Nice-select, sticky -->
<script src="static/assets/js/jquery.nice-select.min.js"></script>
<script src="static/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="static/assets/js/contact.js"></script>
<script src="static/assets/js/jquery.form.js"></script>
<script src="static/assets/js/jquery.validate.min.js"></script>
<script src="static/assets/js/mail-script.js"></script>
<script src="static/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="static/assets/js/plugins.js"></script>
<script src="static/assets/js/main.js"></script>


</body>

</html>